---
import "../styles/global.css";
import type { DataJSON } from "../data/info.type";


import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import informacion from "../data/miinfo.json";
import WorkExperience from '../components/sections/WorkExperience.astro'
import Languaje from '../components/sections/Lenguaje.astro'
import Education from '../components/sections/Education.astro'


const { descripcionPerfil, experienciasLaborales, idiomas, educacion } = informacion as DataJSON;

---

<Layout>
  <Header informacion={descripcionPerfil} />
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    {/* Main Content */}
    <div class="lg:col-span-2 space-y-8">
		<WorkExperience experienciaLaboral={experienciasLaborales}/>
    <Education education={educacion}/>
	</div>
  <div class="space-y-8">
    {/* Slider Content */}
    <Languaje languaje={idiomas}/>
  </div>
  </div>
</Layout>
