---
import { getLangFromUrl, useTranslations } from "../utils/languaje.utils";
import Button from "./Button.astro";
export interface Props {
  informacion: string;
}

const { informacion } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<header class="mb-8">
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
  >
    <div>
      <h1 class="text-4xl font-bold text-gray-900 mb-2">Mateo Maldonado</h1>
      <p class="text-xl text-gray-600 mb-4">
        {t('title')}
      </p>
      <p class="text-gray-700 max-w-2xl">
        {informacion}
      </p>
    </div>
    <Button variant="default" size="lg" class="w-fit gap-2 px-6 font-bold">{t('dowload')}</Button>
  </div>
</header>
